#mosaic ul {
  list-style-type: none;
  margin: 0;
}

#mosaic li {
  float: left;
  width: 102px;
  height: 102px;
}

#slideshow {
  clear: left;
}

.judge a {
    text-align: center;
    text-decoration: none;
}
